---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import type { Teams as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  teams = [],
  callToAction,
  
  i18nTitle,
  i18nSubtitle,
  i18nTagline,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} i18nTitle={i18nTitle} i18nSubtitle={i18nSubtitle} i18nTagline={i18nTagline} />

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center">
    {
      teams &&
        teams.map(({ name, title: memberTitle, position, image, link, i18nPosition, i18nMemberTitle }) => (
          <div class="w-full max-w-[280px] h-auto intersect-once motion-safe:intersect:animate-fade motion-safe:opacity-0 intersect-quarter">
            <div class="flex flex-col h-full p-4 md:p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600">
              <a class="relative block group" href={link ?? 'javascript:void(0)'}>
                {image && (
                  <div class="aspect-square w-full overflow-hidden rounded border border-slate-200 dark:border-slate-600">
                    {typeof image === 'string' ? (
                      <Fragment set:html={image} />
                    ) : (
                      <Image
                        class="w-full h-full object-cover"
                        width={400}
                        height={400}
                        widths={[400]}
                        layout="cover"
                        format="avif"
                        {...image}
                      />
                    )}
                  </div>
                )}
              </a>
              <hr class="border-slate-200 dark:border-slate-600 my-4" />
              <div class="flex items-center">
                <div class="grow">
                  {name && (
                    <p class="text-base font-semibold">
                      <a class="relative block group" href={link ?? 'javascript:void(0)'}>
                        {memberTitle && (
                          <span 
                            class={i18nMemberTitle ? 'notranslate' : ''}
                            {...(i18nMemberTitle ? { 'data-i18n': i18nMemberTitle, 'translate': 'no' } : {})}
                          >{memberTitle}</span>
                        )}
                        {memberTitle && ' '}
                        <span class="notranslate" translate="no">{name}</span>
                      </a>
                    </p>
                  )}
                  {position && (
                    <p 
                      class={`text-xs text-muted ${i18nPosition ? 'notranslate' : ''}`}
                      {...(i18nPosition ? { 'data-i18n': i18nPosition, 'translate': 'no' } : {})}
                    >{position}</p>
                  )}
                </div>
              </div>
            </div>
          </div>
        ))
    }
  </div>
  {
    callToAction && (
      <div class="flex justify-center mx-auto w-fit mt-8 md:mt-12 font-medium">
        <Button {...callToAction} />
      </div>
    )
  }
</WidgetWrapper>
