---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogCategoryRobots, getStaticPathsBlogCategory } from '~/utils/blog';
import { getRootPathForType } from '~/utils/blog-permalinks';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogCategory('consultation', { paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: Record<string, string> };

const { page, category } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const posts = await page.data;

const typePosts = posts.map((post) => ({
  ...post,
  permalink: `${getRootPathForType(post.type)}/${post.permalink}`,
}));

const metadata = {
  title: `Chuyên mục '${category.title}' ${currentPage > 1 ? ` — Trang ${currentPage}` : ''}`,
  description:
    'Công ty Luật TNHH Youth & Partners (Y&P Lawfirm) tự hào là đơn vị hàng đầu trong lĩnh vực tư vấn pháp lý thường xuyên cho các doanh nghiệp và cá nhân, giúp đảm bảo tuân thủ pháp luật, hạn chế rủi ro và tối ưu chiến lược kinh doanh. Với đội ngũ luật sư giàu kinh nghiệm, chuyên môn sâu rộng, chúng tôi cung cấp các dịch vụ toàn diện từ tư vấn hợp đồng, lao động, thuế, sở hữu trí tuệ đến giải quyết tranh chấp, hỗ trợ doanh nghiệp phát triển ổn định và bền vững. Quy trình tư vấn chuyên nghiệp, minh bạch với mức phí linh hoạt, cùng các mẫu hợp đồng dịch vụ chặt chẽ giúp doanh nghiệp vận hành hiệu quả, an toàn về pháp lý. Điểm mạnh của Y&P Lawfirm chính là sự đồng hành lâu dài, mang đến những giải pháp pháp lý tối ưu và kịp thời. Liên hệ ngay với Y&P Lawfirm để được tư vấn chuyên sâu và xây dựng nền tảng pháp lý vững chắc cho chính cá nhân cũng như doanh nghiệp của bạn!',
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>{category.title}</Headline>
    <BlogList posts={typePosts} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
