---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { blogCategoryRobots, getStaticPathsBlogCategory } from '~/utils/blog';
import { getRootPathForType } from '~/utils/blog-permalinks';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogCategory('labor', { paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths> & { category: Record<string, string> };

const { page, category } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const posts = await page.data;

const typePosts = posts.map((post) => ({
  ...post,
  permalink: `${getRootPathForType(post.type)}/${post.permalink}`,
}));

const metadata = {
  title: `Chuyên mục '${category.title}' ${currentPage > 1 ? ` — Trang ${currentPage}` : ''}`,
  description:
    'Công ty Luật TNHH Youth & Partners (Y&P Lawfirm) cung cấp dịch vụ pháp lý lao động toàn diện, hỗ trợ doanh nghiệp xây dựng, rà soát và thực thi các chính sách lao động phù hợp với quy định pháp luật. Chúng tôi tư vấn chuyên sâu về hợp đồng lao động, nội quy lao động, xử lý kỷ luật lao động, chấm dứt hợp đồng lao động và giải quyết tranh chấp lao động cùng nhiều vấn đề pháp lý lao động khác giúp doanh nghiệp và người lao động hạn chế rủi ro pháp lý và duy trì môi trường làm việc an toàn, ổn định, lâu dài. Với đội ngũ Luật sư tận tâm và giàu kinh nghiệm, chúng tôi cam kết mang đến giải pháp hiệu quả, bảo vệ tối đa quyền lợi của khách hàng.',
  robots: {
    index: blogCategoryRobots?.index,
    follow: blogCategoryRobots?.follow,
  },
};
---

<Layout metadata={metadata}>
  <section class="px-4 md:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>{category.title}</Headline>
    <BlogList posts={typePosts} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
